# Ignore everything by default
/*

# -----------------
# ALLOWED FOLDERS
# -----------------
!/mods/
!/config/
!/defaultconfigs/
!/kubejs/
!/datapacks/
!/resourcepacks/
!/shaderpacks/
!/patchouli_books/
!/moonlight-global-datapacks/
!/docs/
!/server_pack/

# -----------------
# ALLOWED FILES
# -----------------
!/.gitignore
!/options.txt
!/instance.png
!/manifest.json
!/*.py

# -----------------
# EXCLUDED CACHES & LOCAL DATA
# -----------------
/mods/.connector/
/mods/.index/
/mods/.claude/
/mods/fix_quest_deps.ps1
/config/jei/world/
/kubejs/export/
